/***********    animations    *******************   */

/* rotate */
@keyframes rotate {

    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

.rotate{
    animation-name: rotate;
    animation-timing-function: linear;
}

/* ///// *//* ///// *//* ///// */

@keyframes slideInLeft {
    from{
        transform: translateX(-2000px);
    }
    to{
        transform: translateX(0);
    }
}

.slideInLeft{
    animation-name: slideInLeft;
}

/* ///// *//* ///// */

@keyframes slideInRight {
    from{
        transform: translateX(2000px);
    }
    to{
        transform: translateX(0);
    }
}

.slideInRight{
    animation-name: slideInRight;
}

/* ///// *//* ///// */

@keyframes slideInTop {
    from{
        transform: translateY(-2000px);
    }
    to{
        transform: translateY(0);
    }
}

.slideInTop{
    animation-name: slideInTop;
}

/* ///// *//* ///// *//* ///// */
@keyframes slideInBottom {
    from{
        transform: translateY(2000px);
    }
    to{
        transform: translateY(0);
    }
}

.slideInBottom{
    animation-name: slideInBottom;
}


/* ///// *//* ///// *//* ///// */
@keyframes appear {
    from{
        opacity: 0;
    }
    to{
        opacity: 0.9;
    }
}


.appear{
    animation-name: appear;
}


/* ///// *//* ///// *//* ///// */


/* typing animation */
/* https://blog.hubspot.com/website/typing-animation-css */
/* to create this animation we need a div container that has the text element
 inside, otherwise the animation will look weird */

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.anm-typing-container{
    display: inline-block;
}


.anm-typing{
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-duration: 1.5s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
  }

/* add cursor animation */

@keyframes cursor {
    0% { border-right-color: transparent}
    50% {border-right-color: black;}
    100%{border-right-color: transparent;}
}

  .anm-typing-w-cursor{
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 1.5s steps(30, end) forwards, cursor 1s infinite;
    border-right: 2px solid ;
    
  }

  
/***********    animation utilities    *******************   */
/* activate animation */
.animate{
    animation-duration: 1s;
}

.animate.animate--infinite{
    animation-iteration-count: infinite;
}
.animate.animate--faster{
    animation-duration: 0.7s;
}
.animate.animate--fast{
    animation-duration: 0.4s;
}
.animate.animate--slow{
    animation-duration: 1.5s;
}
.animate.animate--slower{
    animation-duration: 2s;
}
.animate.animate--reverse{
    animation-direction: reverse;
}
.animate.animate--delay-half1s{
    animation-delay: 0.5s;
}
.animate.animate--delay1s{
    animation-delay: 1s;
}
.animate.animate--delay1halfs{
    animation-delay: 1.5s;
}
.animate.animate--delay2s{
    animation-delay: 2s;
}
.animate.animate--delay2halfs{
    animation-delay: 2.5s;
}
.animate.animate--delay3s{
    animation-delay: 3s;
}
.animate.animate--fillBackwards{
    animation-fill-mode: backwards;
}