
.get-your-size-app{
  background: linear-gradient(to right, #ff3131, #ff914d);
  color: white;
  text-align: center;
  min-width: fit-content;
  min-height: fit-content;
  
  width: 700px;
  height: 600px;

  max-height: 70vh;
  max-width: 100%;
  margin: auto;
  margin-top: 1rem;

  

}

.get-your-size-app .brand{
  display: inline-block;
  margin-top: 1rem;

}


  .get-your-size-app button{
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    margin: 1rem;
   
    color: white;  
    
    opacity: 0.9;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.318) 
  }
  
  .get-your-size-app button:hover{
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.612);
    opacity: 1;
  }
  
  
  
  .get-your-size-app label{
    text-align: left;
    display: block;
  }
  
 
  
  h2 .brand{
    text-align: center;
  }
 
  
  .get-your-size-app h1{
    font-size: 2.3rem;
    margin-top: 0;
  }
  .get-your-size-app h2{
    font-size: 1.7rem;
    margin-top: 0;
  }
  .get-your-size-app h3{
    font-size: 1.3rem;
    margin-top: 0;
  }


