
@import "./variables.css";

.get-your-size-app{
  background-color: var(--cubes-background);
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  width: 95%;
  height: 95%;
  margin: 1.5rem auto;
  box-sizing: border-box;
 
  position: relative;
}


  
  .get-your-size-app label{
    text-align: left;
    display: block;
    margin-left: 2px;
  }
  
 
 
  
  .get-your-size-app h1{
    font-size: 2.3rem;
    margin-top: 0;
  }
  .get-your-size-app h2{
    font-size: 1.7rem;
    margin-top: 0;
  }
  .get-your-size-app h3{
    font-size: 1.3rem;
    margin-top: 0;
  }


/* mobile *//* mobile *//* mobile *//* mobile *//* mobile *//* mobile */

@media only screen and (max-width: 690px) {
  .get-your-size-app{
    background-color: aqua;

  }
}