
/* same height for all inputs/buttons */



.get-your-size-wix {
    background-color: var(--cubes-background);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    position: relative;
}

h1,h2,h3 {
    margin: 0;
}

.get-your-size-wix h1 {
    font-size: 4vw;
}

.get-your-size-wix h2 {
    font-size: 3vw;
}

.get-your-size-wix h3 {
    font-size: 2.5vw;
}

label{
    text-align: left;
      display: block;
      margin-left: 3.5%;
        font-size: 1.7vw;
}

.input ,.app-btn, .btn-input{
    max-height: 3rem;
    height: 5vw;
    font-size: 2vw;
}

/* buttons */
.app-btn{
    background-color: var(--form-btn-background);
    color: white;

    height: 6vw!important;
    max-height: 3.3rem;
    
    border: none;
    border-radius: 7px;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.469);
    margin: 0 2.5%;
    opacity: 0.9;

    
    white-space: nowrap;
    
}

.app-btn:hover{
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.626);
    opacity: 1;
}


.btn-full{
    width: 95%;
  
}

.btn-40{
    width: 40%;
 
  
}
.btn-50{
    width: 50%;
}


/* button input */
.btn-input-w-label-container{
    width: 100%;
}

.btns-div{
    display: flex;
}

.btn-input{
    width: 45%;
    margin: 0 2.5%; 
    box-sizing: border-box;
    
  

    border-radius: 7px;
    
    color: black;
    opacity: 0.8;
    border: none;
}


.btn-input:hover{
    opacity: 0.9;
}

.active-btn{
    border: solid 1px rgb(151, 192, 229);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.585);
    opacity: 1;
    font-weight: bold;
}
.active-btn:hover{
    border: solid 1px rgb(151, 192, 229);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.585);
}


/* input*/

.input-w-label-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.input {
    width: 95%;

    border: none;
    margin: 0 2.5%;
    padding: 0;

    
    text-align: center;
}







