
@import "./variables.css";

.form-page{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 55%;
    background-color: var(--form-background);
}

.form-page input{
    border-radius: 7px;
}



.gender-form-container{
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
}

.gender-form-container form{
    height: 80%;
    width: fit-content;
    max-width: 80%;
   
    display: flex;
    flex-direction: column;
   align-items: center;
  
   gap: 12%;
}

.logo-w-label{
    width: fit-content;
    white-space: nowrap;
}


.img-container{

display: flex;
height: 100%;
align-items: center;
justify-content: center;
background-color: var(--cubes-background);
}
.img-container img{
    max-height: 85%;
    max-width: 85%;
}




