body,html, #root{
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
    background-color: aquamarine;
  }

  .WRootLayout{
    margin: 1rem 10rem;
    background-color: aqua;
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }

  footer{

    text-align: center;
      }

      button{
        cursor: pointer;
      }


  /* cancel anchor tags default styling */
a{
    text-decoration: none;
}

a{
  color: inherit;
}

a:visited{
    color: inherit;
}

  .code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  nav{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    
  }

  nav .logo{

margin-right: auto;
  }

