

 #root,html,body{
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Poppins', sans-serif;
  }


 
      button{
        cursor: pointer;
      }


  /* cancel anchor tags default styling */
a{
    text-decoration: none;
}

a{
  color: inherit;
}

a:visited{
    color: inherit;
}

  .code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }


