


.app-logo{
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
/* width same with label in gender form remember to modify */
}

.app-logo * {
    display: inline-block;
    /* margin same with label in gender form remember to modify */
    margin: 0;
   
    white-space: none;
    line-height: 1;
}



.logo-img{
    object-fit: contain;
    height: 3vw;
    margin-right: 4px;
}
.logo-content{
margin-bottom: 0;
}