
.UserSize div{
    text-align: center;
    max-width: fit-content;
    margin: auto;
}

.UserSize .size-input{
    width: fit-content;
    margin: auto;
    padding: 0.5rem;
}
.UserSize button{
    background-color: rgb(238, 193, 78);
    margin-top: 2rem;
  
    font-size: 1.5rem;
    width: 12rem;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.318)       
}
.UserSize button:hover{
    background-color: orange;
    box-shadow: 0 7px 9px rgba(0, 0, 0, 0.612)  
    
}




/* ///////////after result//////////// */
.UserSize .user-size-div{
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0.6rem;
}
.user-size-div h1{
font-size: 4rem;

background-color: rgb(34, 48, 84);
min-width: 4rem;
padding: 1rem 2.5rem;
}

.calc-again-btn{
    font-size: 1.3rem!important;
    width: 10rem!important;
    min-height: 3rem;
 
    
   
}

.contact-support-btn{
    width: 18rem!important;
    height: 3rem!important;
    background-color: rgb(255, 255, 255)!important;
    color: black!important;
}