
@media screen and (max-width: 650px) {

/* .get-your-size-wix{
    height: 47%;
} */

.get-your-size-wix p{
    font-size: 3vw!important;
}

input[type="text"],input[type="number"],textarea {
        font-size: 16px!important;
    }


    .size-form-container form{
        height: 83%;
    }

        .get-your-size-wix span{
        font-size: 2.5vw!important ;
    }

        .get-your-size-wix label{
        margin-left: 4% !important;
        font-size: 2.4vw;
    }
   .get-your-size-app-wix label.he {
             margin-right: 4% !important;
             font-size: 2.6vw;
         }
     .get-your-size-wix h3 {
                     font-size: 5vw;
                 }

      .get-your-size-wix h2 {
                     font-size: 4vw;
                 }
    
        button,input{
            border-radius: 4px!important;
        }
    
        

}

